
.DS_Store
.vscode/


pkg/
*-handin.tar.gz
src/main/mr-tmp/
src/mrapps/*.so


src/main/mrcoordinator
src/main/mrworker
src/main/mrsequential
src/main/diskvd
src/main/lockd
src/main/viewd
src/main/pbc
src/main/pbd

src/kvraft1/
src/kvsrv1/
src/kvtest1/
src/raft1/
src/raftapi/
src/shardkv1/
src/tester1/
src/models1/

src/main/viewd.go
src/main/lockc.go
src/main/lockd.go
src/main/pbc.go
src/main/pbd.go
src/main/diskvd.go

Makefile
.check-build